@import "@milkdown/crepe/theme/common/prosemirror.css";
@import "@milkdown/crepe/theme/common/reset.css";
@import "@milkdown/crepe/theme/common/block-edit.css";
@import "@milkdown/crepe/theme/common/code-mirror.css";
@import "@milkdown/crepe/theme/common/cursor.css";
@import "@milkdown/crepe/theme/common/image-block.css";
@import "@milkdown/crepe/theme/common/link-tooltip.css";
@import "@milkdown/crepe/theme/common/list-item.css";
@import "@milkdown/crepe/theme/common/placeholder.css";
@import "@milkdown/crepe/theme/common/toolbar.css";
@import "@milkdown/crepe/theme/common/table.css";
@import "@milkdown/crepe/theme/common/latex.css";